<div id="footer">

Powered by <a href="http://roller.apache.org">Apache Roller</a> $config.rollerVersion

</div>
       
<div id="datetagdiv" 
   style="position:absolute;visibility:hidden;background-color:white;layer-background-color:white;">
</div>
<link rel="stylesheet" href="$url.site/theme/styles/translation.css">
<script src="$url.site/theme/scripts/translation.js"></script>
<link rel="stylesheet" href="$url.site/theme/styles/weblog-qa.css">
<script src="$url.site/theme/scripts/weblog-qa.js"></script>
</body>
</html>
